<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "xyz.jpg",:size => "100X100"  %>
	</div>

	<div id="content">
		<h1>Hey, I'm Sachin David Gutta</h1>
		<p>Welcome to my official website i am using ruby on rails 4.2.2.</p>
		<p>i am in 3rd year want to be good algorithm coder , so i am studing mit 6.006 and 6.046</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="https://www.youtube.com/">
	</div>
</div>